<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--counting visitor-->
    <script type="text/javascript" src="//ra.revolvermaps.com/0/0/8.js?i=0sbboytwfky&amp;m=1c&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=5&amp;hi=10&amp;he=9&amp;rs=10&amp;cw=ffffff&amp;cb=000000" async="async"></script>
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <!--div-- class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <a href="/about">盐柜子</a>
                    </h3>
                    <div>
                        <ul class="nav masthead-nav">
                            <li class="active">
                                <a href="/index.html">
                                    <span class="glyphicon glyphicon-home"></span> 主页
                                </a>
                            </li>

                            <li>
                                <a href="/blog">
                                    <span class="glyphicon glyphicon-book"></span> 日志
                                </a>
                            </li>

                            <li>
                                <a href="/blog">
                                    <span class="glyphicon glyphicon glyphicon-cloud"></span> 空间
                                </a>
                            </li>

                            <li>
                                <a href="/blog">
                                    <span class="glyphicon glyphicon-tags"></span> 标签
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div-->

            <div class="inner cover">
                {{content}}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
