h1{
    text-align: center;
    padding: 5px;
    font-size: 40pt;
}

section{
    font-size: 18pt;
}

.quote{
    float: right;
    text-align: right;
    font-size: 15pt;
    padding: 8px;
}
.clearfloat{
    clear: both;
}

.content{
    text-align: center;
    font-size: 18pt;
    padding: 5px;
}
img{
    height: 200px;
    padding: 10px;
}

.information{
    font-size: 12pt;
}

