---
layout: essay
---

<!--div-- class="col-xs-8 col-md-10 blog_content"-->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="blog_content">
  <h1>{{ page.title }}</h1>
  <span class="meta">{{ page.date | date_to_string }}</span> |
  <!--span id="busuanzi_container_page_pv">
    总阅读量<span id="busuanzi_value_page_pv"></span>
  </span-->

  <span id="busuanzi_container_site_pv" style="display:none;">
    <i class="fa fa-spinner"></i>总阅读量<span id="busuanzi_value_site_uv">
  </span>

  <div class="post" style="text-align:justify; text-justify:inter-ideograph">
    {{ content }}
  </div>
</div>

<!--/div-->

<!--div-- class="col-xs-4 col-md-2 recommend">
  <h4>相关</h4>
  <ul class="nav nav-tabs nav-stacked">
    <li><a href='#'>前端</a></li>
    <li><a href='#'>嵌入式</a></li>
    <li><a href='#'>数据分析</a></li>
    <li>暂无</li>
  </ul>
</div-->



