body {
    padding-top: 50px;
}
.starter {
    padding: 40px 15px;
    text-align: center;
}
footer {
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #eeeeee;
    padding: 10px;
    width: 100%;
}

footer ul li {
    text-align: center;
    display: inline;
    margin-right: 20px;

}

footer img{
    height:40px;
}